{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.

{deps, [
 {cowboy, "0.8.5", {git, "git://github.com/extend/cowboy", "HEAD"}},
 {thrift_erl, "0.5.0", {git, "git://github.com/xslogic/thrift_erl", "HEAD"}},
 {mimetypes, "1.0", {git, "git://github.com/spawngrid/mimetypes.git", "1.0"}},
 {json, "0.0.2", {git, "git://github.com/hio/erlang-json.git", "master"}}
]}.